<nav>

  <img src="https://www.savingcountrymusic.com/wp-content/uploads/2017/12/billboard.jpg" alt="picture of billboard logo" height="175px" width="300px">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'View Artists', artists_path %></li>
  </ul>
</nav>
<br>
<br>